/* Bootstrap override */
.navbar{
   margin-bottom:0px;
}

.navbar-inner{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.container-fluid{
   padding-left: 0px;
   padding-right: 0px;
}

.navbar .nav > li > a{
   color:#fff;
}

.navbar .nav label{
   color:#777;
   padding-bottom:0px;
   font-size:12px;
   margin-bottom:-14px;
   line-height:14px;
}

.navbar a{
   cursor: pointer;
}

.dropdown-menu a.active{
   background: #ccc;
}

.dropdown .caret{
   float:right;
}

.modal-backdrop{
   position:absolute;
   z-index:100;
}

.modal.loading{
   margin-top:-50px;
   margin-left:-75px;
   width:150px;
   line-height:16px;
   font-size:14px;
   text-align:center;
}

.tooltip{
   z-index:800;
}


/* Styles */

body{
   height: 100%;
   width: 100%;
   overflow-x:hidden;
   overflow-y:hidden;
   background:#333;
}

#chart{
   position:relative;
   height:100%;
   background:#fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text{
   font-size:10px;
}

.navbar .demo{
   display: none;
}

#flashVar{
   display:none;
   position: fixed;
   bottom: 30px;
   left: 50%;
   z-index: 1050;
   opacity:.75;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   background:rgba(0,0,0,50);
   margin-left:-250px;
   width:500px;
   line-height:70px;
   font-size:14px;
   text-align:center;
   font-size:50px;
   color:#fff;
}

#demoControls{
   display: none;
}

.navbar .navCenter{
   position:absolute;
   left:50%;
   width: 250px;
   margin-left: -125px;
   text-align: center;
   padding-left: 0px;
   padding-right: 0px;
}

.chartPopoverPlace{
   position:absolute;
   top:0px;
   left:0px;
}

.tooltip-inner #hoverInfo{
   text-align:left;
}

/* datepicker */
.dropdown-menu.datepicker-dropdown{
   width: 218px;
   padding:4px;
}

.datepicker {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
}
.datepicker .nav {
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
.datepicker .nav:before, .datepicker .nav:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.datepicker .nav:after {
  clear: both;
}
.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}
.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}
.datepicker .months {
  float: left;
  margin-left: 4px;
}
.datepicker .months .name {
  width: 72px;
  padding: 0;
}
.datepicker .years {
  float: right;
  margin-right: 4px;
}
.datepicker .years .name {
  width: 36px;
  padding: 0;
}
.datepicker .dow, .datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}
.datepicker .dow {
  font-weight: bold;
  color: #808080;
}
.datepicker .calendar {
  padding: 4px;
}
.datepicker .days div {
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}
.datepicker .overlap {
  color: #bfbfbf;
}
.datepicker .today {
  background-color: #fee9cc;
}
.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}
